{% extends 'base.html.twig' %}

{% block title %}Modification de l'utilisateur{% endblock %}

{% block body %}
{# {{ path('app_profil') }} #}
<div class="example-wrapper">
    {# {% if (clients.id) %} #}
        <h1 class="mt-4">Formulaire de modification des informations personelles</h1>
{# {{ dump(user) }} #}
</div>


{% endblock %}
