{% extends 'base.html.twig' %}

{% block title %}Be free - Accueil{% endblock %}

{% block body %}

<header>
  <img src="{{ asset('/img/logo_banner.png') }}">
</header>

<main class='container'>
<h2 class='titleHomepage'>Vivez de nouvelles aventures tous les mois !</h2>
<section class="fonction">    
    <div class="fonction__card">
        <div class='function__card__number'>1</div>
        <div class='fonction__card__content'>
            <p>Je m’abonne à une des trois offres disponibles selon le type d’activité que je veux faire</p>
        </div>
    </div>

    <div class="fonction__card">
        <div class='function__card__number'>2</div>
        <div class='fonction__card__content'>
            <p>Je m’inscris à une des activités proposées chaque mois</p>
        </div>
    </div>

    <div class="fonction__card">
        <div class='function__card__number'>3</div>
        <div class='fonction__card__content'>
        <p>Je me rends sur place, tout est pret, je profite de mon activité</p></div>
    </div>   
</section>

<section class='presentation'>
<h2>Activités sportives dans l’Hérault</h2><br>
<p>Envie de découvrir le plaisir des activités sportives en solo ou en groupe dans l’Hérault ?

BeFree vous propose 3 offres différentes pour découvrir chaque mois de nouvelles randonnées dans notre région et essayer différentes activités*</p>
<p>il est nécessaire de réserver une place pour participer aux activités</p>
</section>

<section class='offers'>
    <div class='offers__card'>
        <div class='offers__card__header'>
            <h3>Offre Rando</h3>            
        </div>
        <div class='offers__card__content'>
            <p>Accès à la carte de 4 randonnées par mois</p>
            <p>Une fois par mois randonnée avec guide</p>
            <h4>10€ / mois</h4>
        </div>
    </div>

    <div class='offers__card'>
        <div class='offers__card__header'>
            <h3>Offre Activité</h3>
        </div>
        <div class='offers__card__content'>
            <p>Accès à la carte de 4 randonnées par mois</p>
            <p>Une fois par mois activité à sensation forte</p>
            <h4>20€ / mois</h4>
        </div>
    </div>
    <div class='offers__card'>
        <div class='offers__card__header'>
            <h3>Offre Xtreme</h3>
        </div>
        <div class='offers__card__content'>
            <p>Accès à la carte de 4 randonnées par mois</p>
            <p>Une fois par mois activité activité qui fait monter l'adrénaline</p>
            <h4>100€ / mois</h4>
        </div>
    </div>
</section>

<section class='informations'>
    <h2>Pourquoi choisir Befree</h2>
    <div class='informations__cards'>
        <div class='informations__card'>
            <p>Nouvelles activités chaque mois</p>
        </div>
        <div class='informations__card'>
            <p>Tous les week-ends activités avec
un moniteur</p>
        </div>
        <div class='informations__card'>
            <p>Chaque activité est testée par nos équipes</p>
        </div>
    </div>


</section>


<section class='questions'>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Puis-je faire mes randonnées seul ? 
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Bien sur ! Nous vous proposons un pannel de randonnées qui change tous les mois. Ainsi, vous pouvez décider quel parcours vous préférez et surtout que cela rentre dasn votre emploi du temps.
        </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Comment se passe les activités ? 
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Vous êtes accompagnés par un professionnel qui vous assistera et vous guidera tout au long de votre activité. Il s'assurera du bon déroulé de l'activité et que toutes les mesures de sécurités soient bien respecté pour chacun des participant. 
        </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Comment choisir mon offre ?
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            Plutôt firand de balade en pleine nature ? Partez sur notre offre Rando et profitez du savoir et des connaissances d'un guide professionnel. PLutot friand d'aventure ? Partez plutôt sur une offre Acitvité, vous aurez comme cela la possibilité de participer à une de nos excursions tous les mois. Enfin, si vous êtes adeptes de sensation fortes, l'offre Xtreme est faites pour vous.
        </div>
        </div>
    </div>
    </div>
</section>


</main>


{% endblock %}
