@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

$primaryColor: #d9e2d5;
$secondaryColor: #3e6765;
$thirdColor: #e07e59;

body {
  font-size: 20px;
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 36px;
  color: $secondaryColor;
}

h2 {
  font-size: 32px;
  color: #3e6765;
  margin-bottom: 2rem;
}

nav {
  width: 100%;
  height: 80px;
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  flex: 1 1 auto;

  img {
    height: 75px;
  }
}

.nav__links {
  width: 80%;
  height: 80px;
  flex: 2 1 auto;

  ul {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      text-align: center;
      word-break: keep-all;
      // background-color: #E07E59;
    }

    li a {
      word-break: keep-all;
      text-decoration: none;
      color: $secondaryColor;
      padding: 10px;
    }
  }
}

.link_inscription {
  color: #e07e59;
}

footer {
  width: 100%;
  height: 300px;
  background-color: $secondaryColor;
  color: $thirdColor;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.footer {
  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
  }

  &__nav {
    ul {
      list-style: none;

      a {
        text-decoration: none;
        color: $thirdColor;
      }
    }
  }

  &__contact {
    a {
      text-decoration: none;
      color: $thirdColor;
    }
  }
}

// main {
//   width: 60%;
// }

header {
  width: 100%;
  height: 450px;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleHomepage {
  text-align: center;
  margin-top: 50px;
}

.fonction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
  gap: 25px;

  &__card {
    width: 300px;

    height: 330px;
    background-color: #d9e2d5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    margin-top: 50px;
    padding: 15px;

    &__content {
      width: 100%;
      height: 200px;
      background-color: #3e6765;
      color: #fff;
      padding: 10px;
      text-align: center;
      border-radius: 15px;
    }
  }
}

.function__card__number {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  background-color: #eaeaea;
  color: $thirdColor !important;
  position: relative;
  top: -20%;
}

// Eléments pour page Dashboard

.containerDashboardColor {
  background-color: $primaryColor;
}

.textDashboardColor {
  color: #3e6765;
}

.titleWidthDashboardColor {
  width: 71%;
}

.cardBackground {
  background-color: #3e6765;
}

.card-img-top {
  width: 100%;
  height: 14vw !important;
  object-fit: cover;
}

.inactiveActivite {
  display: none;
}

.inactiveInscription {
  display: none;
}

.inactiveHistorique {
  display: none;
}

.btnColor {
  background-color: $thirdColor;
  width: 50px;
  height: 50px;
  border-radius: 70px;
}

.btnColor:hover {
  cursor: pointer;
  background-color: #bb6e52;
}

.arrowColor {
  fill: white;
  width: 40%;
}

.ContainerCard {
  min-height: 444px;
}

.function__card__number {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  background-color: #eaeaea;
  color: #3e6765;
  position: relative;
  top: -20%;
}

.presentation {
  width: 100%;
  margin-top: 100px;
  background-color: $primaryColor;
  padding: 50px 25px 100px 25px;
  text-align: center;
  color: #3e6765;
}

.offers {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;

  &__card {
    flex: auto;
    width: 320px;
    height: 350px;
    border-radius: 15px;
    background-color: #d9e2d5;
    color: $secondaryColor;
    text-align: center;
    margin-top: 50px;

    &__header {
      width: 100%;
      height: 80px;
      background-color: #3e6765;
      color: $thirdColor;
      border-radius: 15px 15px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
    }

    &__content {
      width: 100%;
      height: 270px;
      padding: 10px;
    }
  }
}

.informations {
  width: 100%;
  margin-top: 100px;
  background-color: $primaryColor;
  text-align: center;
  color: $secondaryColor;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  &__card {
    width: 300px;
    height: 200px;
    background-color: #3e6765;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}

.questions {
  width: 100%;
  margin-top: 100px;
}

.accordion {
  --bs-accordion-active-color: #e07e59;
  --bs-accordion-active-bg: #3e6765;
}

.accordion-button {
  background-color: $primaryColor;
}

//Inscription form
.flex-container {
  margin-top: 4em;
  max-width: 65%;
}

.inscription-form {
  background-color: #d9e2d5;
  display: flex;
  justify-content: center;
  padding: 5em 8em;
  width: 100%;
}

.col-form-label,
.form-label {
  font-size: 16px;
  color: #3e6765;
  width: 18em;
}

.col-sm-10 {
  max-width: 15em;
}

.inscription-form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inscription-form-row-nr {
  max-width: 8em;
}

.button {
  margin-top: 2em;
  color: #3e6765;
  background-color: #e07e59;
  width: 10em;
  border-radius: 8px;
  border: none;
  padding: 0.5em;
  font-size: 0.8em;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  background-color: #e07e59;
  font-weight: bold;
  color: #3e6765;
}

label.required:before {
  content: "*";
}

//Connexion form
.link_inscription:hover {
  color: #e07e59;
  font-weight: bold;
}

.privacy-policy {
  display: flex;
  text-align: center;
  font-size: 0.6em;
  color: #3e6765;
}

.inscripton {
  display: flex;
  flex-direction: row;
}

//Inscription form
.flex-container {
  margin-top: 4em;
  max-width: 65%;
}

.inscription-form {
  background-color: #d9e2d5;
  display: flex;
  justify-content: center;
  padding: 5em 8em;
  width: 100%;
}

.col-form-label,
.form-label {
  font-size: 16px;
  color: #3e6765;
  width: 18em;
}

.col-sm-10 {
  max-width: 15em;
}

.inscription-form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inscription-form-row-nr {
  max-width: 8em;
}

.button {
  margin-top: 2em;
  color: #3e6765;
  background-color: #e07e59;
  width: 10em;
  border-radius: 8px;
  border: none;
  padding: 0.5em;
  font-size: 0.8em;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  background-color: #e07e59;
  font-weight: bold;
  color: #3e6765;
}

label.required:before {
  content: "*";
}

//Connexion form
.link_inscription:hover {
  color: #e07e59;
  font-weight: bold;
}

.privacy-policy {
  display: flex;
  text-align: center;
  font-size: 0.6em;
  color: #3e6765;
}

.inscripton {
  display: flex;
  flex-direction: row;
}

.ficheActivite {
  width: 100%;
  height: auto;
  background-color: $primaryColor;
  padding: 20px;
}

#map {
  height: 400px;
}

#burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav__links {
    display: flex;
    justify-content: flex-end;
  }

  .nav__links ul {
    display: none;
  }

  #burger {
    display: flex;
    width: 1.5em;
    margin-right: 25px;
  }
}