{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


<main class='container'>
<h1>Activités à venir</h1>


{{ dump(activites) }}

{% for activite in activites %}



{% endfor %}

    

</main>
{% endblock %}
