{% extends 'base.html.twig' %}

{% block title %}Mon tableau de bord{% endblock %}

{% block body %}


    <h2 class="mt-5 mb-3 textDashboardColor titleWidthDashboardColor text-start">Mon tableau de bord</h2>

    <div class="row col-8 p-4 my-4 containerDashboardColor">
    <h3 class="mb-2 textDashboardColor">Mes activité à venir : </h3>
            <div class="col my-2">
                <div class="card ">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="card-img-top" alt="Image _Activite_1">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="card-img-top" alt="Image _Activite_2">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="card-img-top" alt="Image _Activite_3">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
    </div>

    <div class="row col-8 p-4 my-4 containerDashboardColor">
    <h3 class="mb-2 textDashboardColor">Mes randonnées du mois : </h3>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Image _Activite_1">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Image _Activite_2">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Image _Activite_3">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>

            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Image _Activite_3">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
    </div>

    <div class="row col-8 p-4 my-4 containerDashboardColor">
    <h3 class="mb-2 textDashboardColor">Les prochaines inscriptions : </h3>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Image _Activite_1">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Image _Activite_2">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Image _Activite_3">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
    </div>

        <div class="row col-8 p-4 my-4 containerDashboardColor">
    <h3 class="mb-2 textDashboardColor">Historique des mes activités : </h3>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Image _Activite_1">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Image _Activite_2">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
            <div class="col my-2">
                <div class="card">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Image _Activite_3">
                    <div class="card-footer">
                        <small class="text-muted">Texte inscription</small>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}
